{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><img src="{% static 'MusicHub/img/PornHubLogo.png' %}"
                                                          alt="MusicHubLOGO" height="25px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personalCenter">Personal Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataAnalysis">Data Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userInformation">User Information Base</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
