{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include "header.html" %}
<div style="text-align: center;">

    {% block body_block %}
        <div>
            <p><b>Hottest Song </b></p>
            <div align="center">
                <table border="1">
                    <tr>
                        <th>title</th>
                        <th>artist</th>
                        <th>album</th>
                        <th>times</th>
                    </tr>
                    {% for row in  recommandsongtable %}
                        <tr>
                            {% for number in row %}
                                <td>{{ number }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <p><b>Recommend Song</b></p>
            <div align="center">
                <table border="1">
                    <tr>
                        <th>title</th>
                        <th>artist</th>
                        <th>album</th>
                    </tr>
                    {% for row in  hottestsongtable %}
                        <tr>
                            {% for number in row %}
                                <td>{{ number }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
            </div>
        </div>
    {% endblock %}

    <script src="{% static 'jquery/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'popper/popper-1.14.4.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</div>
</body>
</html>

