{% extends "home.html" %}
{% block body_block %}
    <h1>There are {{ counter }} related results</h1>
    <table border="1" align="center">
        <tr>
            <th>id</th>
            <th>song title</th>
            <th>artist</th>
            <th>album</th>
            <th>times</th>
        </tr>
        {% for row in resp %}
            <tr>
                {% for number in row %}
                    <td><a>{{ number }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}