<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include "header.html" %}
<div style="text-align: center;">
<h2>Here is your collection</h2>
    <table border="1" align="center">
        <tr>
            <th>User_id</th>
            <th>StockCode or StockName</th>
        </tr>
        {% for row in data %}
            <tr>
                {% for number in row %}
                    <td>{{ number }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
<h2>{{ warning }}</h2>
</div>
</body>
</html>