<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<div style="text-align: center;">
<form method="post" action="delete/">

    {% csrf_token %}
    <h2>You can delete the users here</h2>
    <label>
        Account number:
        <input type="text" name="user_id" placeholder="账号">
        Password:
        <input type="password" name="user_password" placeholder="密码">
    </label>
    <input type=submit value="delete">
<div>
    {% for row in AllInformation %}
        <tr>
    {% for number in row %}
        <td>{{ number }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</div>
</form>
</div>
</body>
</html>