{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><img src="{% static 'StockHub/img/stockhub.png' %}"
                                                          alt="StockHubLOGO" height="25px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Personal Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">User Information Base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">History search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Data Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">User Information Base</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
