{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/"><img src="{% static 'StockHub/img/stockhub.png' %}"
                                                           alt="StockHubLOGO" height="25px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personalCenter/">Personal Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search_list/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collectInterface/">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete/">User Information Base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historyShow/">History search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analysis/">Data Analysis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
