<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% load static %}
<div style="text-align: center;">
    <div>
        <img src="{% static 'StockHub/img/stockhub.png' %}" alt="MusicHubLOGO" height="80px">
    </div>

    <form action= "{% url "handleLogin" %}"  method="post">
    {% csrf_token %}
    <div>
        <h2> LOGIN </h2>
        <label>
            Account Number
            <input type="text" name="user_id">
            Password
            <input type="text" name="user_password">
        </label>
        <input type="submit" value="login">
        <h1>{{ warnings }}</h1>
    </div>
    </form>

    {{ warning1 }}
    {{ hint }}
    <a href="/registration">If you don't have an account yet,pls click here!</a>
</div>
</body>
</html>

