{% extends "base.html" %}

{% block content %}
  <h1>Welcome, {{ user.username }}!</h1>

  {% if user.is_superuser %}
    <p>You are an admin user.</p >
  {% elif user.userprofile.is_vip %}
    <p>You are a VIP user.</p >
  {% else %}
    <p>You are a regular user.</p >
  {% endif %}

  <h2>User Information</h2>
  <ul>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    {% if user.userprofile.phone_number %}
      <li>Phone Number: {{ user.userprofile.phone_number }}</li>
    {% endif %}
    {% if user.userprofile.address %}
      <li>Address: {{ user.userprofile.address }}</li>
    {% endif %}
  </ul>
{% endblock %}
