<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
{% load static %}
<body>
<div style="text-align: center;">
    <div>
        <img src="{% static 'StockHub/img/stockhub.png' %}" alt="StockHubLOGO" height="80px">
    </div>

    <form method="post" action="/register/">
        {% csrf_token %}
         <h2>Registration</h2>
        <label>
            Account Number:
            <input type="text" name="user_id" placeholder="账号">
            Password:
            <input type="password" name="user_password" placeholder="密码">
        </label>
        <input type=submit value="registration">
    </form>
</div>
</body>
</html>