<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include "header.html" %}
<div style="text-align: center;">
    <h1>Please choose what you want to search</h1>
    <h4>If you are normal account</h4>
    <h4>you can only use the stock_basic_info</h4>
    <form method="get" action="/stock_basic_info/">
        <button>stock_basic_info</button>
    </form>

    <form method="get" action="/stock_daily_data/">
        <button>stock_daily_data</button>
    </form>

    <form method="get" action="/stock_dividend_data/">
        <button>stock_dividend_data</button>
    </form>

    <form method="get" action="/stock_fees_data/">
        <button>stock_fees_data</button>
    </form>

    <form method="get" action="/stock_financial_data/">
        <button>stock_fees_data</button>
    </form>

    <form method="get" action="/stock_price_data/">
        <button>stock_price_data</button>
    </form>

    <form method="get" action="/stock_ratios_data/">
        <button>stock_ratios_data</button>
    </form>

    <form method="get" action="/stock_return_data/">
        <button>stock_return_data</button>
    </form>

    <form method="get" action="/stock_shares_data/">
        <button>stock_shares_data</button>
    </form>
</div>
</body>
</html>