<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>This is search list</div>
<body>
    <form method="get" action="/stock_basic_info/">
        <button>stock_basic_info</button>
    </form>

    <form method="get" action="/stock_daily_data/">
        <button>stock_daily_data</button>
    </form>

    <form method="get" action="/stock_dividend_data/">
        <button>stock_dividend_data</button>
    </form>

    <form method="get" action="/stock_fees_data/">
        <button>stock_fees_data</button>
    </form>

    <form method="get" action="/stock_financial_data/">
        <button>stock_financial_data</button>
    </form>

    <form method="get" action="/stock_price_data/">
        <button>stock_price_data</button>
    </form>

    <form method="get" action="/stock_ratios_data/">
        <button>stock_ratios_data</button>
    </form>

    <form method="get" action="/stock_return_data/">
        <button>stock_return_data</button>
    </form>

    <form method="get" action="/stock_shares_data/">
        <button>stock_shares_data</button>
    </form>

</body>
</html>