<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>stock_fees_data</div>

    <form method="post" action="/stock_fees_data/">
    {% csrf_token %}
        <input type="text" name = "SecuCode" placeholder="code">
        <input type="submit" value="search">
    </form>

    <form method="post" action="/stock_fees_data/">

    {% csrf_token %}
        <input type="text" name = "Lstknm" placeholder="name">
        <input type="submit" value="search">
    </form>

</body>
</html>