<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include "header.html" %}
<div style="text-align: center;">
<div>stock_fees_data</div>

<form method="post" action="/stock_fees_data/">
    {% csrf_token %}
    <input type="text" name="SecuCode" placeholder="code">
    <input type="submit" value="search">
</form>

<form method="post" action="/stock_fees_data/">

    {% csrf_token %}
    <input type="text" name="Lstknm" placeholder="name">
    <input type="submit" value="search">
</form>
</div>
</body>
</html>